/* =====================
   HERO COM IMAGEM
===================== */
.hero-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  align-items: center;
}

.hero img {
  max-width: 100%;
  border-radius: var(--radius);
}

/* =====================
   RESPONSIVO HERO
===================== */
@media(min-width: 768px) {
  .hero-content {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* =====================
   GALERIA DE IMAGENS
===================== */
.gallery img {
  width: 100%;
  border-radius: var(--radius);
}

.gallery-item {
  overflow: hidden;
}
